* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.dragscroll{
    cursor: grab; 
    cursor : -o-grab; 
    cursor : -moz-grab; 
    cursor : -webkit-grab;
}

button{
    cursor: pointer;
}

html, body {
    margin: 0;
    color: #5f6368;
    background: #AA997D;
    font-family: Roboto;
    font-size: 16px;
}

input[type=checkbox].css-checkbox {
	position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    margin: 5px auto;
    padding-left: 19px;
    height: 12px;
    display: inline-block;
    line-height: 12px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 16px;
    vertical-align: middle;
    cursor: pointer;
    color: #000;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -12px;
}

label.css-label {
	background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_295a25cd8a419b624afde62e000ad6c0.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }

.os-frame{
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border: 7px solid transparent;
    border-top-width: 24px;
    border-image-source: url(../images/border.PNG);
    border-image-width: 25px;
    border-image-slice: 23;
    border-image-repeat: repeat;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
opacity: 1;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
}

.wrapper {
    width:100%;
}

/*HEADER*/

.header-wrapper {
    width: 100%;
    -webkit-box-shadow: inset 0 -1px 0 rgba(100,121,143,0.122);
    box-shadow: inset 0 -1px 0 rgba(100,121,143,0.122);
    z-index: 49;
    position: fixed;
    background:#91D3E2;
    height: 145px;
}

.header {
    display: flex;
    justify-content:space-between;
    padding:8px;
    height: 100%;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-menu {
    font-size: 32px;
    padding: 6px;
    border-radius: 50%;
}

    .header-menu:hover {
        background: #F0F0F0;
    }

    .header-menu:active, .header-menu:focus {
        background: #EBECEC;
    }

.header-button {
    border: none;
    outline: none;
    color: #5f6368;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

#hamburger{
    display:flex;
}

.profile-wrapper{
    height: 145px;
    width: 145px;
    background-color: #696878;
    border-radius: 50%;
    position: absolute;
    top: 109px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

#counter{
    position: absolute;
    top: 109px;
    left: 50%;
    height: 170px;
    width: 170px;
    transform: translate(-50%,-50%);
    z-index: 9;
    display: inline-block;
}

.header-nav{
    display:none;
    margin-left:225px;
}

.nav-button{
    background:none;
    cursor: pointer;
    padding: 0;
    margin: 0 15px;
    font-size: 22px;
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
}

.id-tech-logo{
    height: 75%;
    display:none;
}

.id-logo{
    height: 50%;
}

.header-right {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.sidebar-wrapper {
    display: flex;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    position: fixed;
    will-change: transform;
    /*height: calc(100vh - 64px);*/
    height:100%;
    top:0;
    overflow-y: auto;
    background: #91D3E2;
    z-index: 51;
    box-shadow: none;
    transition: 0.2s ease-in-out;
}

.sidebar-wrapper-after {
    transform: translateX(0);
    -webkit-transform: translateX(0);
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 8px;
    align-items: flex-start;
    padding-right: 10px;
}

.content-wrapper{
    overflow: auto;
    position: fixed;
    width: 100%;
    background: #d8d0ca;
    top:145px;
    bottom:0;
    padding-right: 20px;
}

.room-container{
    background: #d8d0ca;
    position: relative;
}

.room{
    background: #d8d0ca;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.room-box{
    position: absolute;
    left: 12px;
    bottom: 90px;
    height: 82px;
    width: 83px;
    background: url(../images/box.svg);
    background-size: 83px;
    border: none;
    z-index: 1;

}

.room-save{
    background: chartreuse;
    position: absolute;
    left: 12px;
    bottom: 90px;
    height: 82px;
    width: 83px;
    background-size: 83px;
    border: none;
    z-index: 2;
}

.furniture{
    z-index: 95;
}

.desk{
    position: absolute;
    left: 560px;
    bottom: 50px;
    height: 192px;
}

.furniture-button{
    position: absolute;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0;
}

.pc{
    left: 720px;
    bottom: 242px;
    height: 150px;
    width: 150px;
    background: url(../images/pc.png);
    background-size: 150px;
}

.estante{
    left: 160px;
    bottom: 35px;
    height: 210px;
    width: 245px;
    background: url(../images/wardrobe.png);
    background-size: 245px;
    display: flex;
    flex-direction: column;
    padding: 24px 18px 5px 18px;
    align-items: center;
}

.estante-gui-wrapper{
    background: none;
    padding: 0;
    max-height: 100vh;
}

.estante-header{
    position: absolute;
    left: 0;
    z-index: 1;
}

.estante-header button{
    background-color: #E40A5D;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    height: 50px;
    width: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 20px;
    transform: none;
    transition: transform linear 0.1s;
}

.estante-header button:hover{
    transform: scale(1.1);
    
}

.estante-body-wrapper{
    height: 100%;
    overflow: auto;
    padding-top: 90px;
    padding: 0 20px;
    width: 100%;
}

.estante-body{
    width: 600px;
    padding: 30px;
    padding-right: 100px;
}


.estante-body-top{
    height: 199px;
    width: 600px;
    background: url(../images/wardrobe-top.PNG);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.estante-body-bottom{
    height: 153px;
    width: 600px;
    background: url(../images/wardrobe-row.PNG);
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.estante-body-top .estante-row{
    top: 75px;
}

.estante-body-bottom .estante-row{
    top: 30px;
}

.estante-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0 50px;
}

.estante-item{
    width: 100px;
    height: 100px;
    background: red;
}

.estante-row-preview{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0 30px;
    margin: 12px 0;
    width: 100%;
}

.estante-item-preview{
    width: 35px;
    height: 35px;
    background: red;
}

.shelf{
    left: 160px;
    top: 156px;
    height: 32px;
    width: 320px;
    background: url(../images/shelf.png);
    background-size: 320px;
}

.shelf-gui-wrapper{
    background: none;
    padding: 0;
    height: 100%;
    max-height: 100vh;
}

.shelf-header{
    justify-content: center;
}

.shelf-header button{
    background-color: #E40A5D;
    display: inline-block;
    position: relative;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    height: 50px;
    width: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 20px;
    transform: none;
    transition: transform linear 0.1s;
}

.shelf-header button:hover{
    transform: scale(1.1); 
}

.shelf-body-wrapper{
    height: 100%;
    overflow: auto;
}

.shelf-body{
    height: 68px;
    width: 676px;
    background: url(../images/shelf.png);
    background-size: 676px;
    position: relative;
    top: 85%;
    margin: auto;
    padding: 0 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.books-wrapper{
    position: absolute;
    bottom: 24px;
    left: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.books-wrapper-gui{
    bottom: 46px;
    left: 64px;
}

.book{
    width:75px;
    height: 25px;
    border: 1px solid white;
}

.books-wrapper-gui .book{
    width: 150px;
    height: 50px;
}

.book-pile{
    display: flex;
    flex-direction: column;
}

.book-group-1{
    display: flex;
    flex-direction: column;
}

    .book-group-1 .book{
        background: red;
    }

.book-group-2{
    display: flex;
    flex-direction: column;
}

    .book-group-2 .book{
        background: blue;   
    }

.book-group-3{
    display: flex;
    flex-direction: column;   
}

    .book-group-3 .book{
        background: green;
    }

/* .book{
    background: red;
    width:25px;
    height: 75px;
    border: 1px solid;
}

.book-h{
    width: 75px;
    height: 25px;
    background: blue;
    border: 1px solid;  
}

.book-big{
    width:50px;
    height: 150px;
}

.book-h-big{
    width: 150px;
    height: 50px;
} */

.board{
    right: 75px;
    top: 162px;
    height: 158px;
    width: 254px;
    background: url(../images/board.png);
    background-size: 254px;
}

.grid-container{
    height: 640px;
    width: 1280px;
    position: absolute;
    left: 246px;
    top: 0px;
}

#sidebar-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    background:rgba(0,0,0,.6);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

.os-container{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:#63639C;
    padding:0;
}

.os-taskbar{
    background:#DDDDDD;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid white;
    border-bottom: 1px solid black;
    padding: 0 15px;
}

.os-desktop-wrapping{
  height: 100%;
}

.os-desktop{
    display: flex;
    align-items: flex-start;
    width: 85vw;
    padding: 0 15px;
    height: 100%;
}

.icon-column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
}

.desktop-icon{
    background:none;
    outline:none;
    border:none;
    color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.desktop-icon i{
    font-size: 35px;
}

.desktop-icon span{
    background:#CFCFE1;
    color:black;
    line-height: 16px;
    font-family: 'VT323';
    font-family: 'Share Tech Mono';
    font-size: 13px;
    padding: 0 5px;
    border:1px solid #CFCFE1;
}

.desktop-icon:focus i{
    /* background:#C7E7FF; */
    color: #000080;
}

.desktop-icon:focus span{
    background:#000080;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    color: white;
    border: 1px dotted #FFFF00;
}

.os-window-container{
    position: absolute;
    display: none;
    left: 0;
    top:5%;
    height: 90%;
    width: 100%;
}

.os-window{
    background:#E4E4E4;
    width: 100%;
    /* padding: 5px 10px; */
    overflow: auto;
    height: 100%;
}

.os-window-close{
    position: absolute;
    top: 4px;
    left: 4px;
    height: 14px;
    width: 14px;
    background-size: 14px;
    background-image: url(../images/btn_normal.png);
    border: none;
    outline: none;
}

.os-window-close:active{
    background-image: url(../images/btn_dark.png);
}

#os-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-title{
    font-size: 14px;
    position: absolute;
    background: #cacaca;
    top: 4px;
    width: 100px;
    line-height: 14px;
    text-align: center;
    font-family: 'Share Tech Mono';
}

.registro-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.os-window-division{
    padding: 10px 0 15px 0;
    width: 100%;
    border-bottom: 1px solid #9d9d9d;
    box-shadow: 0 1px white;
    text-align: center;
}

.os-window-field-group{
    margin: 50px 0 20px 0;
    padding:12px 21px;
    border:1px solid #9d9d9d;
    box-shadow: 1px 1px #fff inset, 1px 1px #fff;
    width: 80%;
}

.os-window-field-subgroup{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 5px;
    width: 100%;
}

.os-subgroup-title{
    color: #000;
    background: #E4E4E4;
    position: relative;
    top: -25px;
    padding: 0 12px;
}

.os-window-field{
    outline: none;
    padding: 5px 8px;
    margin:10px;
    border:1px solid #000;
    box-shadow: 1px 1px #9d9d9d inset, 1px 1px #fff;
    color: #000;
    width: 100%;
}

.form-logo{
    top: -33px;
    position: relative;
    background: #E4E4E4;
    padding: 0 12px;
    color: #000;
    left: calc(50% - 24px);
    font-size: 36px;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.formulario{
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.os-button-complement{
    background: #000;
    border: 1.5px solid #000;
    border-radius: 6px;
    line-height: 16px;
}

.os-button{
    padding: 2px 10px;
    border-radius: 4px;
    outline: none;
    background: #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #777;
    border-right: 1px solid #777;
    box-shadow: 1px 1px #fff inset, -1px -1px #aaa inset;
    color: #000;
}

.custom-select{
    font-family: 'Share Tech Mono';
    outline: none;
    padding: 0 30px 0 10px;
    height: 22px;
    width: 230px;
    color: #000;
    border: 1px solid black;
    /* border-radius: 2px; */
    background: #dddddd url(../images/select5.PNG);
    background-size: 339px;
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.custom-select:active, .custom-select:focus{
    background: #dddddd url(../images/select6.PNG);
    background-size: 339px;
    background-repeat: no-repeat;
    background-position: right;
}

.custom-select option{
    font-family: 'Share Tech Mono';
    outline: none;
    border: 1px solid black;
}

.browser-window{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.browser-bar{
    background: #dbd7d6;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-left-width: 19px;
    border-image-source: url(../images/browserbarshort.png);
    border-image-width: 23px;
    border-image-slice: 29;
    border-image-repeat: repeat;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.browser-bar-icons{
    background: url(../images/addicons.PNG);
    height: 24px;
    background-size: 100%;
    width: 220px;
    margin: 0 10px;
    display: none;
}

.browser-adress-bar{
    background: url(../images/addbar.png);
    height: 24px;
    background-size: 100%;
    width: 220px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.browser-adress{
    font-family: 'Share Tech Mono';
    font-size: 12px;
    margin-left: 30px;
    width: 169px;
    overflow: hidden;
}

.browser-content{
}

.browser-content-nav{
    background: #fff;
}

.browser-content-container{

}

.browser-content-main{

}

.browser-content-list{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 15px;
    justify-content: space-evenly;
}

.bcl-item{
    padding: 10px;
    background: white;
    margin: 10px;
    width: 85%;
    box-shadow:0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

.bcl-item-header{
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.bcl-title{
    color: black;
    font-weight: 600;
    font-size: 18px;
}

.bcl-date{
    font-size: 12px;
}

.bcl-item-body{
    position: relative;
}

.bcl-item-body img{
    width: 100%;
}

.item-box-wrapper{  
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    min-height: 240px;
    height: 40vh;
    background: red;
    position: fixed;
    z-index: 99;
    transform: translateY(100%);
    bottom: 0;
    left: 0;
    transition: 0.5s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.item-box-button-container{
    position: absolute;
    top: -19px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
}

.item-box-button{
    background-color: #E40A5D;
    border: none;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
    height: 50px;
    width: 50px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transform: none;
    transition: transform linear 0.1s;
    display: none;
    outline: none;    
    justify-content: center;
    align-items: center;
}

.item-box-button:hover{
    transform: scale(1.1); 
}

/* #item-box-close::before{
    content: "\2715";
} */

.item-box{
    background: blue;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: scroll;
}

.item-box-item{
    height: 80px;
    width: 80px;
    margin: 30px;
    background: yellow;
    border: none;
    outline: none;
}

.item-box-wrapper-after{
    transform: translateY(0);
}

.item-box-wrapper-after .item-box-button{
    display: flex;
}

.edit-overlay{
    z-index: 98;
    background: coral;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.objdrag{
    z-index: 100;
}

.item-store-area-wrapper{
    height: 45px;
    border: 2px dotted white;
    background: rgba(0, 0, 0, 0.25);
    width: 100vw;
    box-sizing: border-box;
    position: fixed;
    z-index: 101;
    bottom: -55px;
    left: 0;
    transition: 0.5s all ease;
}

.item-store-area-wrapper::before,
.item-store-area-wrapper::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 25px;
}

.item-store-area-wrapper::before{
    bottom: 100%;
}

.item-store-area-wrapper::after{
    top: 100%;
}

.item-store-area-wrapper:hover{
    height: 70px;
    background: rgba(0, 0, 0, 0.45);
}

.loja-header{
    background: #232f3e;
    display: flex;
    flex-direction: column;
}

.loja-title{
    font-size: 30px;
    text-align: center;
    margin: auto 0;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loja-title h4{
    font-size: 24px;
    color: white;
}

.loja-nav{
    height: 60px;
    background: #232f3e;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loja-nav-scroller{
    display: flex;
    overflow: auto;
    padding: 10px 0;
}

.loja-nav-button{
    margin: 0 10px;
    padding: 5px 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    transition: all 0.15s ease;
}

.loja-nav-button:hover{
    font-size: 19px;
    text-decoration: underline;    
}

.loja-body-wrapper{
    margin: 15px;
}

.loja-body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.loja-item-wrapper{
    margin: 0 15px;
    padding: 15px;
}

.missing-achievement{
    opacity: 0.5;
}

@media only screen and (min-width: 901px) {
    .header-nav{
        display:flex;
    }

    #hamburger{
        display: none;
    }

    .profile-wrapper, #counter{
        left:130px;
    }

    .id-tech-logo{
        display: block;
    }

    .id-logo{
        display: none;
    }

    .os-container{
        max-height: 85vh;
        height: 85vh;
    }

    .os-window-container{ 
        width: 75%;
        left: 7.5%;
        top: 3%;
    }

    .os-window-container{
        position: relative;
        left: 0;
        top:5%;
        height: 90%;
        width: 80%;
    }

    .browser-bar{
        justify-content: flex-start;
    }

    .browser-bar-icons{
        background: url(../images/addicons.PNG);
        height: 36px;
        background-size: 100%;
        width: 220px;
        margin: 0 10px;
        display: block;
    }
    .estante-body{
        padding-right: 30px;
    }

    .bcl-item{
        width: 33%;
    }
}

@media only screen and (max-height: 640px){
    .item-box{
        justify-content: center;
    }
}