<span class="window-title">Currículo</span>

<div class="browser-window">
    <div class="browser-bar">
        <div class="browser-bar-icons"></div>
        <div class="browser-adress-bar"><span class="browser-adress">http://www.curriculo.idtech.com</span></div>
    </div>
    <div class="browser-content">
        <div class="browser-content-nav">

        </div>
        <div class="browser-content-container">
            <div class="browser-content-main">

            </div>
        </div>
    </div>

</div>


