<div class="login-form-wrapper">
    <form>
        <label for="login">Login</label>
        <input type="number" id="ra_usuario_login"/>
        <label for="password"></label>
        <input type="password" id="senha_usuario_login"/>
        <input type="button" value="Login" onclick="login()"/>
    </form>
</div>
<div>
    <input type="button" value="Log Out" onclick="logout()">
</div>

<%- contentFor("scripts")%>
<script>
    function login(){
        let ra_usuario = document.getElementById("ra_usuario_login").value
        let senha_usuario = document.getElementById("senha_usuario_login").value
        let form = {
            ra_usuario: ra_usuario,
            senha_usuario: senha_usuario
        }
        $.ajax({
            method: "post",
            url: "http://localhost:3000/api/usuario/login",
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data)
            },
            error: function (e) {
                console.log(e)
            }
        })
    }
    function logout() {
        $.ajax({
            method: "get",
            url: "http://localhost:3000/api/usuario/logout",
            success: function (data) {
                console.log(data)
            },
            error: function (e) {
                console.log(e)
            }
        })
    }
</script>