<div class="login-form-wrapper">
    <form>
        <label for="login">Login</label>
        <input type="number" id="ra_usuario_login"/>
        <label for="password"></label>
        <input type="password" id="senha_usuario_login"/>
        <input type="button" value="Login" onclick="login()"/>
    </form>
</div>
<div>
    <input type="button" value="Log Out" onclick="logout()">
</div>

<div class="register-form-wrapper">
    <form>
        <label for="ra_usuario">RA</label>
        <input id="ra_usuario" type="number"/>
        <label for="nome_usuario">Nome do Usuario</label>
        <input id="nome_usuario" type="text"/>
        <label for="email_usuario">E-mail do Usuário</label>
        <input id="email_usuario" type="email"/>
        <label for="dt_entrada_usuario">Data de entrada</label>
        <input id="dt_entrada_usuario" type="text">
        <label for="senha_usuario">Senha do Usuario</label>
        <input id="senha_usuario" type="password">
        <label for="idAdmin">é admin?</label>
        <input id="idAdmin" type="checkbox">
        <label for="curso">Qual o curso</label>
        <select id="curso">
            <option value="1">TECH</option>
            <option value="2">Publicidade e Propaganda</option>
            <option value="3">Ciências Sociais</option>
            <option value="4">Design</option>
        </select>
        <input type="button" value="Register" onclick="register()">
    </form>
</div>
<div>
    <input type="button" value="Log Out" onclick="logout()">
</div>

<%- contentFor("scripts")%>
<script>
    function login(){
        let ra_usuario = document.getElementById("ra_usuario_login").value
        let senha_usuario = document.getElementById("senha_usuario_login").value
        let form = {
            ra_usuario: ra_usuario,
            senha_usuario: senha_usuario
        }
        $.ajax({
            method: "post",
            url: "http://localhost:3000/api/usuario/login",
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data)
            },
            error: function (e) {
                console.log(e)
            }
        })
    }
    function logout() {
        $.ajax({
            method: "get",
            url: "http://localhost:3000/api/usuario/logout",
            success: function (data) {
                console.log(data)
            },
            error: function (e) {
                console.log(e)
            }
        })
    }

    function register(){
        let isAdmin = 0
        if(document.getElementById("idAdmin").checked) isAdmin = 1
        let form = {
            ra_usuario: document.getElementById("ra_usuario").value,
            nome_usuario: document.getElementById("nome_usuario").value,
            email_usuario: document.getElementById("email_usuario").value,
            dt_entrada_usuario: document.getElementById("dt_entrada_usuario").value,
            senha_usuario: document.getElementById("senha_usuario").value,
            isAdmin: isAdmin,
            id_curso: document.getElementById("curso").options[document.getElementById("curso").selectedIndex].value
        }

        console.log(form);
        $.ajax({
            method: "post",
            url: "http://localhost:3000/api/usuario/create",
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data)
            },
            error: function (e) {
                console.log(e)
            }
        })
    }
</script>