<span class="window-title">E-Commerce</span>

<div class="browser-window">
    <div class="browser-bar">
        <div class="browser-bar-icons"></div>
        <div class="browser-adress-bar"><span class="browser-adress">http://www.loja.idtech.com</span></div>
    </div>
    <div class="browser-content">
        <div class="browser-content-nav">

        </div>
        <div class="browser-content-container">
            <div class="browser-content-main">
                <div class="loja-header">
                    <div class="loja-title">
                        <img src="../Public/images/logo_branco.png" style="width: auto;height: 85%;">
                        <h4>STORE</h4>
                    </div>
                    <div class="loja-nav">
                        <button class="loja-nav-button">Games</button>
                        <button class="loja-nav-button">BI</button>
                        <button class="loja-nav-button">DEV</button>
                        <button class="loja-nav-button">Inovação</button>
                    </div>
                </div>
                <div class="loja-body-wrapper">
                    <ul class="browser-content-list">
                        <li class="bcl-item">
                            <div class="bcl-item-body">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/61J2lVq1%2BIL._AC_SX355_.jpg" alt="">
                            </div>
                            <div class="bcl-item-header">
                                <div class="bcl-title">Item 1</div>
                                <button class="mdc-icon-button material-icons" onclick="">monetization_on</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


