<span class="window-title">E-Commerce</span>

<div class="browser-window">
    <div class="browser-bar">
        <div class="browser-bar-icons"></div>
        <div class="browser-adress-bar"><span class="browser-adress">http://www.loja.idtech.com</span></div>
    </div>
    <div class="browser-content">
        <div class="browser-content-nav">

        </div>
        <div class="browser-content-container">
            <div class="browser-content-main">
                <div class="loja-header">
                    <div class="loja-title">
                        <img src="../Public/images/logo_branco.png" style="width: auto;height: 85%;">
                        <!-- <h4>STORE</h4> -->
                        <div class="loja-searchbar">
                            
                        </div>
                        <div class="loja-header-info">
                            <div class="loja-header-bem-vindo">
                                <span style="font-size: 12px; color:#ccc">Olá, [USER]</span s>
                                <span style="margin-top: -7px;font-size: 14px; color:white; font-weight:600">Seja bem vindo!</span>
                            </div>
                        </div>
                    </div>
                    <div class="loja-nav">
                        <div class="loja-nav-scroller">
                            <button class="loja-nav-button" data-id="5" onclick="filterLoja(this)">Básicos</button>
                            <button class="loja-nav-button" data-id="1" onclick="filterLoja(this)">Games</button>
                            <button class="loja-nav-button" data-id="2" onclick="filterLoja(this)">Business Intelligence</button>
                            <button class="loja-nav-button" data-id="3" onclick="filterLoja(this)">Development</button>
                            <button class="loja-nav-button" id="zap" data-id="4" onclick="filterLoja(this)">Inovação</button>
                        </div>
                    </div>
                </div>
                <div class="loja-body-wrapper">
                    <ul class="browser-content-list" id="loja-item-list">
                        <li class="bcl-item">
                            <div class="bcl-item-body">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/61J2lVq1%2BIL._AC_SX355_.jpg" alt="">
                            </div>
                            <div class="bcl-item-header">
                                <div class="bcl-title">Item 1</div>
                                <button class="mdc-icon-button material-icons" onclick="">monetization_on</button>
                            </div>
                        </li>
                        <li class="bcl-item">
                            <div class="bcl-item-body">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/61J2lVq1%2BIL._AC_SX355_.jpg" alt="">
                            </div>
                            <div class="bcl-item-header">
                                <div class="bcl-title">Item 1</div>
                                <button class="mdc-icon-button material-icons" onclick="">monetization_on</button>
                            </div>
                        </li>
                        <li class="bcl-item">
                            <div class="bcl-item-body">
                                <img src="https://images-na.ssl-images-amazon.com/images/I/61J2lVq1%2BIL._AC_SX355_.jpg" alt="">
                            </div>
                            <div class="bcl-item-header">
                                <div class="bcl-title">Item 1</div>
                                <button class="mdc-icon-button material-icons" onclick="">monetization_on</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


