<h1 style="margin: 0 20px; margin-top: 70px;">Criação de Notícias</h1>

<form class="noticia-form">
    <div class="form-group" style="width: 100%;">
        <label for="chamada_noticia">Chamada</label>
        <input type="text" class="form-control" id="chamada_noticia" placeholder="Digite o título">
    </div>
    <div class="form-group" style="width: 100%;">
        <label for="corpo_noticia">Corpo</label>
        <textarea class="form-control" id="corpo_noticia" name="corpo" rows="4" cols="50" placeholder="Digite o conteúdo"></textarea>
    </div>
    <div class="form-group" style="width: 100%;">
        <label for="data_noticia">Data de publicacao</label>
        <input class="form-control" type="datetime" id="data_noticia" placeholder="Data da notícia"/>
    </div>
    <button type="submit" class="btn btn-primary" onclick="registerNotcia()">Enviar</button>
</form>


<%- contentFor("scripts") %>
<script type="text/javascript">

    function registerNotcia(){
        const url = "/api/noticia/create"
        let chamada_noticia = $("#chamada_noticia").val();
        let corpo_noticia = $("#corpo_noticia").val();
        let data_noticia = $("#data_noticia").val();
        let form = {
            chamada_noticia: chamada_noticia,
            corpo_noticia: corpo_noticia,
            data_publicacao: data_noticia,
            ra_usuario: getCookie("ra_usuario")
        }

        $.ajax({
            method: "POST",
            url: url,
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data);
                
                // Notificação de projeto alterado
            },
            error: function (e) {
                console.log(e)
            }
        });
    }
    function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");
        // Loop through the array elements
        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            /* Removing whitespace at the beginning of the cookie name
            and compare it with the given string */
            if(name == cookiePair[0].trim()) {
                // Decode the cookie value and return
                return decodeURIComponent(cookiePair[1]);
            }
        }

        // Return null if not found
        return null;
    }
</script>