<div style="position: absolute; top: 69px; left: 40%; display: flex; flex-direction: column;">
    <label for="chamada_noticia">Chamada</label>
    <input type="text" id="chamada_noticia"/>
    <label for="corpo_noticia">Corpo</label>
    <textarea id="corpo_noticia" name="corpo" rows="4" cols="50"></textarea>
    <label for="data_noticia">Data de publicacao</label>
    <input type="datetime" id="data_noticia"/>
    <button type="submit" value="submit" onclick="registerNotcia()">Submit</button>
</div>


<%- contentFor("scripts") %>
<script type="text/javascript">

    function registerNotcia(){
        const url = "/api/noticia/create"
        let chamada_noticia = $("#chamada_noticia").val();
        let corpo_noticia = $("#corpo_noticia").val();
        let data_noticia = $("#data_noticia").val();
        let form = {
            chamada_noticia: chamada_noticia,
            corpo_noticia: corpo_noticia,
            data_publicacao: data_noticia,
            ra_usuario: getCookie("ra_usuario")
        }

        $.ajax({
            method: "POST",
            url: url,
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data);
                
                // Notificação de projeto alterado
            },
            error: function (e) {
                console.log(e)
            }
        });
    }
    function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
        var cookieArr = document.cookie.split(";");
        // Loop through the array elements
        for(var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");

            /* Removing whitespace at the beginning of the cookie name
            and compare it with the given string */
            if(name == cookiePair[0].trim()) {
                // Decode the cookie value and return
                return decodeURIComponent(cookiePair[1]);
            }
        }

        // Return null if not found
        return null;
    }
</script>