<span class="window-title">Portfólio</span>

<div class="browser-window">
    <div class="browser-bar">
        <div class="browser-bar-icons"></div>
        <div class="browser-adress-bar"><span class="browser-adress">http://www.portfolio.idtech.com</span></div>
    </div>
    <div class="browser-content">
        <div class="browser-content-nav"></div>
        <div class="browser-content-container">
            <div class="browser-content-main">
                <ul class="browser-content-list">
                    <%-projetosHTML%>
                </ul>
            </div>
        </div>
    </div>

</div>


