<script src="../public/lib/jquery/jquery-1.0.0.min.js"></script>
<style>
    label.css-label {
        background-image: url(http://www.csscheckbox.com/checkboxes/u/csscheckbox_f8d40671eec752c2a075981314745ffa.png);
        background-position: 0 0;
        background-size: 12px;
    }

    input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -12px;
    }

    #datepicker4 {
          display:none;
      }
    
      #check-concluido:checked ~ #datepicker4{
          display:block;
      }
</style>
<span class="window-title">Portfólio</span>

<div class="browser-window">
    <div class="browser-bar">
        <div class="browser-bar-icons"></div>
        <div class="browser-adress-bar"><span class="browser-adress">http://www.portfolio.idtech.com</span></div>
    </div>
    <div class="browser-content">
        <div class="browser-content-nav"></div>
        <div class="browser-content-container">
            <div class="browser-content-main" style="padding:16px 32px">
                <div class="port-content">
                    <div class="port-header">
                        <img src="../Public/images/logo_small.png" style="width: auto;height: 95%;">
                    </div>
                    <div class="port-banner">
                        <span style="font-size: 10vw;" class="port-banner-icon material-icons">fingerprint</span>
                        <div class="port-banner-text">
                            <span style="display: flex;">
                                <h2 style="font-size: 1.4em;">Sua Identidade</h2>
                                <svg style="margin-left: 5px; margin-top: 2px; width: 1.4em;" viewBox="0 0 64 64" aria-hidden="true" class="icon__SVGBase-hq0ah8-1 cTDquo styles__arrow___MMHMr"><polygon points="64,32 48,48 48,36 0,36 0,28 48,28 48,16" transform="translate(32,32) rotate(0) translate(-32,-32)" fill="currentColor"></polygon></svg>
                            </span>
                            <span>Veja aqui seus projetos catalogados✨</span>
                            <h4><%-numeroDeProjetos%> Projetos Cadastrados</h4>
                        </div>
                    </div>
                    <ul class="browser-content-list port-list">
                        <%-projetosHTML%>
                    </ul>
                </div>
                <span class="browser-content-overlay"></span>
                <div class="port-item-edit-modal">
                    <button class="port-item-edit-close" onclick="closePortItem()"></button>
                    <div class="port-item-edit-modal-content" id="port-item-edit-form">
                        <input id="port-item-id" type="number" value="" hidden>
                        <span class="port-item-edit-upper">
                            <input id="project-name" class="port-input" maxlength="150" type="text" placeholder="Nome do Projeto" required autocomplete="off">
                            <textarea id="project-desc" class="port-input" maxlength="250" placeholder="Descrição do Projeto" rows="3" style="resize: none;" required autocomplete="off"></textarea>
                            <span class="tooltip-holder" style="position: relative; display: flex; justify-content: center;">
                                <span class="tooltip-helper" style="position: relative;">
                                    <span class="select-label material-icons">more</span>
                                    <select class="port-select" name="" id="project-area" placeholder="Área do Projeto" required>
                                        <option disabled="" selected="" hidden="">Área do Projeto</option>
                                        <%-listaArea%>
                                    </select>
                                </span>
                            </span>
                            <span class="tooltip-holder" style="position: relative; display: flex; justify-content: center;">
                                <span class="tooltip-helper" style="position: relative;">
                                    <span class="select-label material-icons">more</span>
                                    <select class="port-select" name="" id="project-type" placeholder="Área do Projeto" required>
                                        <option disabled selected hidden>Tipo de projeto</option>
                                        <%-listaTipoProjeto%>
                                    </select>
                                </span>
                            </span>
                            <input type="text" class="port-input" placeholder="Data de Início do Projeto" name="" id="datepicker3" required>
                            <input id="check-concluido" class="css-checkbox" type="checkbox" name="check" value="1">
                            <label for="check-concluido" class="css-label">Projeto Concluído</label>
                            <input type="text" class="port-input" placeholder="Data de Conclusão do Projeto" name="" id="datepicker4">
                            <input id="check-exibir" class="css-checkbox" type="checkbox" name="check2" value="1">
                            <label for="check-exibir" class="css-label">Exibir no Portfólio</label>
                        </span>
                        <span class="port-item-edit-lower">
                            <form class="port-item-edit-formTag">
                                <button class="port-item-edit-button" onclick="savePortItem(); location.replace('/')">Save Project</button>
                                <button class="port-item-delete-button" onclick="deletePortItem($('#port-item-id').val())" type="submit">Delete Project</button>
                            </form>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        var brDate = {
            previousMonth : 'Mês Anterior',
            nextMonth     : 'Mês Seguinte',
            months        : ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
            weekdays      : ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            weekdaysShort : ['Dom','Seg','Ter','Qua','Qui','Sex','Sab']
        };

        var picker3 = new Pikaday({
            field: document.getElementById('datepicker3'),
            maxDate: new Date(),
            onSelect: function() {
                picker4.setMinDate(this.getDate());
            },
            i18n: brDate,
            format: 'D/M/YYYY',
            toString(date, format) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('/');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });

        var picker4 = new Pikaday({
            field: document.getElementById('datepicker4'),
            maxDate: new Date(),
            onSelect: function() {
                picker3.setMaxDate(this.getDate());
            },
            i18n: brDate,
            format: 'D/M/YYYY',
            toString(date, format) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('/');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });
    });
</script>



