<span class="window-title">Portfólio</span>

<div class="browser-window">
    <div class="browser-bar">
        <div class="browser-bar-icons"></div>
        <div class="browser-adress-bar"><span class="browser-adress">http://www.portfolio.idtech.com</span></div>
    </div>
    <div class="browser-content">
        <div class="browser-content-nav"></div>
        <div class="browser-content-container">
            <div class="browser-content-main">
                <ul class="browser-content-list">
                    <li class="bcl-item">
                        <div class="bcl-item-body">
                            <img src="../public/images/post-4.jpg" alt="">
                            <button class="mdc-icon-button material-icons" style="position: absolute;right: 5px;top: 5px;">more_vert</button>
                        </div>
                        <div class="bcl-item-header">
                            <div class="bcl-title">Projeto de Games 1</div>
                            <div class="bcl-date">October 07, 2019</div>
                        </div>
                    </li>
                    <li class="bcl-item">
                            <div class="bcl-item-body">
                                <img src="../public/images/post-4.jpg" alt="">
                                <button class="mdc-icon-button material-icons" style="position: absolute;right: 5px;top: 5px;">more_vert</button>
                            </div>
                            <div class="bcl-item-header">
                                <div class="bcl-title">Projeto de Games 1</div>
                                <div class="bcl-date">October 07, 2019</div>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </div>

</div>


