<script src="../public/lib/jquery/jquery-1.0.0.min.js"></script>
<style>
#datepicker2 {
      display:none;
  }

  #check:checked ~ #datepicker2{
      display:block;
  }
</style>
<span class="window-title">Registro</span>

<div class="registro-wrapper">
    <div class="os-window-division">
        <select class="custom-select" id="selectCurPor" onchange="clc()">
            <option disabled selected hidden>Selecionar Formato...</option>
            <option value="portifolio">Portifólio</option>
            <option value="curriculo">Currículo</option>
        </select>
    </div>

    <!--PORTIFOLIO-->
    
    <div id="formPortifolioWrapper" class="os-window-field-group" style="display: none">
        <i class="material-icons-sharp form-logo">folder_shared</i>
        <form id="formPortifolio" class="formulario" autocomplete="off">
            <div class="os-window-field-group os-window-field-subgroup">
                <span class="os-subgroup-title">Informações</span>
                <input style="margin-top: -15px;" type="text" class="os-window-field" placeholder="Nome do projeto" id="nome_projeto" name="" required>
                <textarea class="os-window-field" placeholder="Descrição do Projeto" id="descricao_projeto" rows="3" style="resize: none;" required></textarea>
            </div>
            <select style="margin: 10px;" class="custom-select" id="area_projeto" required>
                <option disabled selected hidden>Área do Projeto</option>
                <%-listaArea%>
            </select>
            <select style="margin: 10px;" class="custom-select" id="tipo_projeto" required>
                <option disabled selected hidden>Tipo de projeto</option>
                <%-listaTipoProjeto%>
            </select>
            <div class="os-window-field-group os-window-field-subgroup" id="datas-subgroup">
                <span class="os-subgroup-title">Datas</span>
                <input type="text" class="os-window-field" placeholder="Data de Início do Projeto" name="" id="datepicker" required>
                <input id="check" class="css-checkbox" type="checkbox" name="check" value="check">
                <label for="check" class="css-label">Projeto Concluído</label>
                <input type="text" class="os-window-field" placeholder="Data de Conclusão do Projeto" name="" id="datepicker2">
            </div>
            <input id="check2" class="css-checkbox" type="checkbox" name="check2" value="check">
            <label for="check2" class="css-label">Exibir no Portfólio</label>
            <span class="os-button-complement" style="margin-top: 15px;"><button type="button" class="os-button" onclick="portEnviar()">Enviar</button></span>
        </form>
    </div>
    
    <!--CURRICULO-->
    <div id="formCurriculoWrapper" class="os-window-field-group" style="display: none">
        <form>
        <i class="material-icons-sharp form-logo">assignment_ind</i>
        <div id="formCurriculo" class="formulario">
            <div class="os-window-field-group os-window-field-subgroup">
                <span class="os-subgroup-title">Informações</span>
                <input style="margin-top: -15px;" type="text" class="os-window-field" placeholder="Nome da Habilidade" id="nome_habilidade" name="">
                <select style="margin: 10px;" class="custom-select" id="tipo_habilidade">
                    <option disabled selected hidden>Tipo de Habilidade</option>
                    <%-listaTipoHabilidade%>
                </select>
            </div>
            <span class="os-button-complement" style="margin-top: 15px;"><button type="button" class="os-button" onclick="currEnviar(); location.replace('/')">Enviar</button></span>

        </div>
    </form>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        var brDate = {
            previousMonth : 'Mês Anterior',
            nextMonth     : 'Mês Seguinte',
            months        : ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','dezembro'],
            weekdays      : ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
            weekdaysShort : ['Dom','Seg','Ter','Qua','Qui','Sex','Sab']
        };

        var picker = new Pikaday({
            field: document.getElementById('datepicker'),
            maxDate: new Date(),
            onSelect: function() {
                picker2.setMinDate(this.getDate());
            },
            i18n: brDate,
            format: 'D/M/YYYY',
            toString(date, format) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('/');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });

        var picker2 = new Pikaday({
            field: document.getElementById('datepicker2'),
            maxDate: new Date(),
            onSelect: function() {
                picker.setMaxDate(this.getDate());
            },
            i18n: brDate,
            format: 'D/M/YYYY',
            toString(date, format) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${day}/${month}/${year}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('/');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });

    });

    function clc() {
        //if (actionGoingOn)
        //    return;

        let selectBox = document.getElementById("selectCurPor")
        let selectedValue = selectBox.options[selectBox.selectedIndex].value
        let divPort = document.getElementById("formPortifolioWrapper")
        let divCurr = document.getElementById("formCurriculoWrapper")
        actionGoingOn = true;
        // @@@ exibir waiting
        //request.get("url", (response, body, error) => {
        //    /// @@@ ocultar waiting
        //    actionGoingOn = false;

        //})
        if (selectedValue == "portifolio") {
            divPort.style.display = 'block'
            divCurr.style.display = 'none'
        }
        else if (selectedValue == "curriculo") {
            divPort.style.display = 'none'
            divCurr.style.display = 'block'
        }
        else {
            divPort.style.display = 'none'
            divCurr.style.display = 'none'
        }


    }

    function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");
    console.log(cookieArr);
    // Loop through the array elements
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        
        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if(name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
        }
    }
}

    function currEnviar(){
        let nome_habilidade = document.getElementById("nome_habilidade").value;
        let tipo_habilidade = document.getElementById("tipo_habilidade");
        let id_tipo_habilidade = parseInt(tipo_habilidade.options[tipo_habilidade.selectedIndex].value);
        let ra_usuario =  getCookie("ra_usuario")
        const form = {
            nome_habilidade: nome_habilidade,
            id_tipo_habilidade: id_tipo_habilidade,
            ra_usuario: ra_usuario
        }

        $.ajax({
            method: "post",
            url: "http://localhost:3000/api/habilidade/create",
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data)
                
            },
            error: function (e) {
                console.log(e)
            }
        })

    }

    function portEnviar() {
        let nome_projeto= document.getElementById("nome_projeto").value;
        let id_area = document.getElementById("area_projeto");
        let id_area_value = parseInt(id_area.options[id_area.selectedIndex].value);
        let id_tipo_projeto = document.getElementById("tipo_projeto")
        let id_tipo_projeto_value = parseInt(id_tipo_projeto.options[id_tipo_projeto.selectedIndex].value)
        let ra = getCookie("ra_usuario");
        let descricao_projeto = document.getElementById("descricao_projeto").value;
        let dt_comeco_projeto = document.getElementById("datepicker").value.split('/')
        dt_comeco_projeto = dt_comeco_projeto[2] + '-' + dt_comeco_projeto[1] + '-' + dt_comeco_projeto[0]
        let dt_termino_projeto = document.getElementById("datepicker2").value.split("/");
        if(dt_termino_projeto[0] != ""){
            dt_termino_projeto = dt_termino_projeto[2] + "-" + dt_termino_projeto[1] + "-" + dt_termino_projeto[0]
        }
        else{
            dt_termino_projeto = null
        } 
        let terminado_projeto = document.getElementById("check").checked ? 1 : 0;
        let exibir_projeto = document.getElementById("check2").checked ? 1 : 0;


        const form = {
            id_tipo_projeto: id_tipo_projeto_value,
            ra_usuario: ra,
            id_area: id_area_value,
            dt_comeco_projeto: dt_comeco_projeto,
            terminado_projeto: terminado_projeto,
            nome_projeto: nome_projeto,
            descricao_projeto: descricao_projeto,
            dt_termino_projeto: dt_termino_projeto,
            exibir_projeto: exibir_projeto
        }
        
        console.log(form)
        $.ajax({
            method: "post",
            url: "http://localhost:3000/api/projeto/create",
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data)
                location.reload()
            },
            error: function (e) {
                console.log(e)
            }
        })
    }
</script>