<span class="window-title">Teste Ajax</span>

<div class="registro-wrapper">
    <div class="os-window-division">
        <select class="custom-select" id="selectCurPor" onchange="clc()">
            <option disabled selected hidden>Selecionar Formato...</option>
            <option value="portifolio">Portifólio</option>
            <option value="curriculo">Currículo</option>
        </select>
    </div>

    <!--PORTIFOLIO-->
    
    <div id="formPortifolioWrapper" class="os-window-field-group" style="display: none">
        <i class="material-icons-sharp form-logo">folder_shared</i>
        <form id="formPortifolio" class="formulario">
            <div class="os-window-field-group os-window-field-subgroup">
                <span class="os-subgroup-title">Informações</span>
                <input style="margin-top: -15px;" type="text" class="os-window-field" placeholder="Nome do projeto" id="nome_projeto" name="">
                <textarea class="os-window-field" placeholder="Descrição do Projeto" id="descricao_projeto" rows="3" style="resize: none;"></textarea>
            </div>
            <select style="margin: 10px;" class="custom-select" id="area_projeto">
                <option disabled selected hidden>Área do projeto</option>
                <option value="1">Games</option>
                <option value="2">BI</option>
                <option value="3">Dev</option>
                <option value="4">Inovação</option>
            </select>
            <input type="text" class="os-window-field" placeholder="Local do Projeto" id="local_projeto">
            <input id="check" class="css-checkbox" type="checkbox" name="check" value="check">
            <label for="check" class="css-label">Projeto Concluído</label>
            <span class="os-button-complement" style="margin-top: 20px;"><input type="submit" class="os-button" placeholder="Enviar" onclick="portEnviar()"></span>
        </form>
    </div>
    
    <!--CURRICULO-->
    <div id="formCurriculoWrapper" class="container" style="display: none">
        <div class="coisinhas">  
            <select class="form-control form-control-lg" id="selectHabilidade">
                <option>Escolha sua habilidade</option>
            </select>
            <select class="form-control selectArea" id="selectNivelProficiencia">
                <option>Nivel de proficiencia</option>
                <option value="1">Baixo</option>
                <option value="2">Medio</option>
                <option value="3">Avancado</option>
            </select>
            <div class="form-group">
                    <button type="button" class="btnenviar" onclick="portEnviar()">Enviar</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function clc() {
        //if (actionGoingOn)
        //    return;

        let selectBox = document.getElementById("selectCurPor")
        let selectedValue = selectBox.options[selectBox.selectedIndex].value
        let divPort = document.getElementById("formPortifolioWrapper")
        let divCurr = document.getElementById("formCurriculoWrapper")
        actionGoingOn = true;
        // @@@ exibir waiting
        //request.get("url", (response, body, error) => {
        //    /// @@@ ocultar waiting
        //    actionGoingOn = false;

        //})
        if (selectedValue == "portifolio") {
            divPort.style.display = 'block'
            divCurr.style.display = 'none'
        }
        else if (selectedValue == "curriculo") {
            divPort.style.display = 'none'
            divCurr.style.display = 'block'
        }
        else {
            divPort.style.display = 'none'
            divCurr.style.display = 'none'
        }


    }

    function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");
    console.log(cookieArr);
    // Loop through the array elements
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        
        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if(name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
        }
    }

    function portEnviar() {

        let nome_projeto= document.getElementById("nome_projeto").value;
        let id_area = document.getElementById("area_projeto");
        let id_area_value = parseInt(id_area.options[id_area.selectedIndex].value);
        let id_tipo_projeto = 1;
        let ra = getCookie("ra_usuario")
        let descricao_projeto = document.getElementById("descricao_projeto").value;
        let dt_comeco_projeto = "2019/02/12";
        let dt_termino_projeto = "2019/03/12";
        let terminado_projeto=1;

        const form = {
            id_tipo_projeto: id_tipo_projeto,
            ra_usuario: ra,
            id_area: id_area_value,
            dt_comeco_projeto: dt_comeco_projeto,
            terminado_projeto: terminado_projeto,
            nome_projeto: nome_projeto,
            descricao_projeto: descricao_projeto,
            dt_termino_projeto: dt_termino_projeto
        }
        
        console.log(form)
        $.ajax({
            method: "post",
            url: "/api/projeto/create",
            data: form,
            dataType: "json",
            success: function (data) {
                console.log(data)
            },
            error: function (e) {
                console.log(e)
            }
        })
    }
</script>